.containerCounter{
    width: 300px;
    height: 400px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
     border: 1px solid black;
     border-radius: 24px 23px / 22px 50px;
     cursor: pointer;
     transition: all 0.3s linear;
}   

.containerCounter:hover{
    box-shadow: 0 0 12px 2px black;
}

.containerImportant{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items:center ;
}
.containerAddCart{
    display: flex;
    justify-content: center;
    align-items: center;
}
